@import url('qanelas-soft-cufonfonts-webfont/Radomir\ Tinkov\ \ QanelasSoftUltraLight.woff');
@import url('qanelas-soft-cufonfonts-webfont/Radomir\ Tinkov\ \ QanelasSoftLight.woff');
@import url('qanelas-soft-cufonfonts-webfont/Radomir\ Tinkov\ \ QanelasSoftMedium.woff');
@import url('qanelas-soft-cufonfonts-webfont/Radomir\ Tinkov\ \ QanelasSoftRegular.woff');

@font-face {
    font-family: 'QanelasSoftUltraLight';
    src: url('qanelas-soft-cufonfonts-webfont/Radomir\ Tinkov\ \ QanelasSoftUltraLight.woff') format('woff');
}

@font-face {
    font-family: 'QanelasSoftLight';
    src: url('qanelas-soft-cufonfonts-webfont/Radomir Tinkov \ QanelasSoftLight.woff') format('woff');
}

@font-face {
    font-family: 'QanelasSoftMedium';
    src: url('qanelas-soft-cufonfonts-webfont/Radomir Tinkov \ QanelasSoftMedium.woff') format('woff');
}

@font-face {
    font-family: 'QanelasSoftRegular';
    src: url('qanelas-soft-cufonfonts-webfont/Radomir Tinkov \ QanelasSoftRegular.woff') format('woff');
}

:root {
    --color-black: #1D1D1D;
    --color-white: #FFFFFF;
    --color-cyan: #4CEAD7;
    --color-gray: #505050;
    --color-green: #A1FF58;
    --color-wpp: #4e843d;
}


* {
    margin: 0;
    font-style: none;
    text-decoration: none;
    padding: 0;
    border: 0;

    color: var(--color-white);
    font-size: 100%;
    font-family: 'QanelasSoftMedium', sans-serif;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    background-color: var(--color-black);
}

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 90px;
    padding: 38px 38px;
    background-color: var(--color-black);
    z-index: 999;
}

html {
    scroll-behavior: smooth;
}

.active-nav-item {
    color: var(--color-cyan);
    border-bottom: 2px solid var(--color-cyan);
}


nav .logo {
    height: 90px;
}

nav .logo img {
    height: 100%;
    width: 100%;
}

nav .items-menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
}





/* Reset básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: 90px;
    height: auto;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: var(--color-cyan);
    ;
}

.navbar-menu {
    display: flex;
    list-style: none;
}

.navbar-item {
    line-height: 40px;
    margin-left: 20px;
}

.navbar-links {
    color: var(--color-white);
    ;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease-out;
}

.navbar-links:hover {
    color: var(--color-cyan);
}

.navbar-menu {
    /* ... suas outras propriedades ... */
    z-index: 1000;
    /* Este valor é geralmente suficiente para ficar acima de outros elementos. */
}

/* Estilos para telas menores (mobile) */
@media screen and (max-width: 960px) {
    .navbar-item {
        width: 100%;
        /* Garantir que os itens da lista ocupem a largura total */
        display: flex;
        /* Habilitar flexbox para os itens da lista */
        justify-content: center;
        /* Centralizar horizontalmente */
        align-items: center;
        /* Centralizar verticalmente */
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        /* Valor ajustado para posicionar o menu mais abaixo */
        left: -100%;
        opacity: 0;
        transition: all 0.3s ease;
        /* Removido o background e o z-index aqui porque será aplicado no .active */
    }

    .navbar-menu.active {
        background: var(--color-black);
        left: 0;
        opacity: 1;
        transition: all 0.3s ease;
        z-index: 1;
        top: 90px;
        /* Este é o novo valor que fará o menu ativo aparecer mais abaixo */
    }
}

/* Animação do hambúrguer para X */
.navbar-toggle.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.navbar-toggle.is-active .bar:nth-child(2) {
    opacity: 0;
}

.navbar-toggle.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


/* SESSOES */

body,
html {
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    width: 100%;
    padding: 0 125px;
    scroll-snap-align: start;
    background-color: var(--color-black);
}

/* SESSAO SOBRE */
#sobre {
    background-image: url('../images/imagem.png');
    background-size: cover;
    /* Garante que a imagem cubra toda a seção */
    background-position: center;
    /* Centraliza a imagem na seção */
    background-repeat: no-repeat;
    /* Impede que a imagem se repita */
    height: 100vh;
    /* Define a altura da seção para a altura total da tela */
    width: 100%;
    /* Define a largura da seção para a largura total da tela */
}


/* SESSAO SOLUÇÕES */
#solucoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

/* Adicione estilos iniciais para os elementos que serão animados */
#solucoes h1,
#solucoes p {
    opacity: 0;
    transform: translateX(-100%);
}

#solucoes p {
    transform: translateX(100%);
}

/* Defina as keyframes para as animações de 'entrar' */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Crie uma classe para iniciar a animação */
.animate-in-h1 {
    animation: slideInFromLeft 1s forwards;
}

.animate-in-p {
    animation: slideInFromRight 1s forwards;
}

#solucoes h1 {
    font-size: 50px;
    letter-spacing: 2px;
    font-family: 'QanelasSoftUltraLight', sans-serif;

    margin-bottom: 100px;
}

#solucoes h1 b {
    font-family: 'QanelasSoftMedium', sans-serif;
}

#solucoes p {
    letter-spacing: 1px;
    font-family: 'QanelasSoftUltraLight', sans-serif;
}

/* SESSAO CASES */
#cases {
    display: flex;
    flex-direction: row;
    padding: 150px 10%;
}

/* Estilos iniciais para os elementos que serão animados */
.cases,
.collum-desc ul {
    opacity: 0;
    transform: translateY(100%);
}

/* Defina as keyframes para as animações de 'subir' */
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Crie classes para iniciar as animações */
.animate-in {
    animation: slideInFromBottom 1s forwards;
}

/* Definir atrasos de animação para elementos subsequentes */
.cases:nth-child(2),
.collum-desc ul:nth-child(2) {
    animation-delay: 0.3s;
}

.cases:nth-child(3),
.collum-desc ul:nth-child(3) {
    animation-delay: 0.6s;
}

#cases .collum-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;

    width: 40%;
}

#cases .casesMobile {
    display: none;
}

#cases .collum-main .cases {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#cases .collum-main .cases h2 {
    letter-spacing: 2px;
    font-size: 30px;
}

#cases .collum-main .imgCases {
    width: 120px;
    height: 120px;
    object-fit: contain;
    filter: grayscale(100) brightness(1000);
}

#cases .collum-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25%;

    width: 60%;
    padding-left: 80px;
}

#cases .collum-desc ul li {
    font-family: 'QanelasSoftUltraLight', sans-serif;
    white-space: nowrap;
}

#cases .divisor {
    width: 2px;
    background-color: var(--color-white);
}

#casesCards {
    display: flex;
    justify-content: center;
    align-items: end;
}

#casesCards .gridCases {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    padding: 0 5%;
    gap: 15px;
}

#casesCards .gridCases .logoCase {
    width: 250px;
    height: 300px;
    background-color: #505050;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px 10px;
    gap: 20px;
}

#casesCards .gridCases .logoCase h3,
#casesCards .gridCases .logoCase p {
    font-size: 12px;
    opacity: 0.7;
}


#casesCards .gridCases .logoCase span {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 10px;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

#casesCards .gridCases .logoCase span i.fa {
    font-size: 12px;
}

#casesCards .gridCases .logoCase img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: brightness(80%);
}

#casesCards .gridCases .logoCase img:hover {
    filter: brightness(100%);
    transition: 0.3s;
}

#casesCards .gridCases .logoCase:hover h3,
#casesCards .gridCases .logoCase:hover p {
    display: none;
    transition: 0.3s;
}

/* SESSÃO INSIGHTS */
#insights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 160px;
}

#insights h2 {
    position: relative;
    font-size: 80px;
    bottom: 0px;
    right: 0px;
    display: flex;
    align-self: flex-start;
}

#insights .insights {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

#insights .insights .dados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#insights .insights .dados .expo {
    font-size: 50px !important;
    vertical-align: super;
    font-size: smaller;
}

#insights .insights .dados .numero {
    font-size: 80px;
    font-family: 'QanelasSoftMedium', sans-serif;
}

#insights .insights .dados .titulo {
    font-size: 40px;
    font-family: 'QanelasSoftUltraLight', sans-serif;
    text-align: center;
}

/* SSESSÃO CLIENTES */
#clientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clientes h2 {
    position: relative;
    font-size: 80px;
    bottom: 0px;
    right: 0px;
    display: flex;
    align-self: flex-start;
}

#clientes .gridClientes {
    position: relative;
    top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: -2.5px;
    gap: 10px;
    padding: 0 10%;
}

#clientes .gridClientes .logoCliente {
    width: 170px;
    height: 170px;
    object-fit: contain;
    padding: 15px;
    background-color: #2c2c2c;
}

#clientes .gridClientes .logoCliente:hover .imgCliente {
    filter: brightness(100%);
}

#clientes .gridClientes .logoCliente .imgCliente {
    transition: 0.3s;
    width: 100%;
    height: 100%;
    filter: brightness(80%);
}

/* SESSÃO FEEDBACKS */
#feedbacks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 160px;
}

#feedbacks h2 {
    position: relative;
    font-size: 80px;
    top: 100px;
    right: 0px;
    display: flex;
    align-self: flex-start;
}

#feedbacks .slider {
    position: relative;
    display: flex;
    width: 70%;
    height: 400px;
    margin: auto;
    overflow: hidden;
    background-color: var(--color-black);
}

#feedbacks .slider .slides-container {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
}

#feedbacks .slider .slides-container .slide {
    min-width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
}

#feedbacks .slider .slides-container .slide .imgFeedback {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: contain;
}

#feedbacks .slider .slides-container .slide .imgFeedback img {
    width: 100%;
    height: 100%;
}

#feedbacks .slider .slides-container .slide .slide-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#feedbacks .slider .slides-container .slide .slide-text h2,
#feedbacks .slider .slides-container .slide .slide-text p {
    font-family: 'QanelasSoftUltraLight', sans-serif;
    text-align: center;
    top: 0px;
    right: 0px;
}

#feedbacks .slider .slides-container .slide .slide-text h2 {
    font-size: 18px;
}

#feedbacks .slider .slides-container .slide .slide-text p {
    font-size: 14px;
    opacity: 0.7;
}

#feedbacks .slider .slides-container .slide .slide-text h4 {
    font-family: 'QanelasSoftMedium', sans-serif;
    font-size: 15px;
    margin-top: 15px;
}

#feedbacks .slide-arrow {
    position: absolute;
    transform: translateY(130px);
    background: none;
    border: none;
    color: white;
    font-size: 25px !important;
    cursor: pointer;
    z-index: 99;
}

#feedbacks .left-arrow:hover,
#feedbacks .right-arrow:hover {
    transition: 0.3s;
}

#feedbacks .left-arrow {
    left: 100px;
}

#feedbacks .left-arrow:hover {
    left: 95px;
}

#feedbacks .right-arrow {
    right: 100px;
}

#feedbacks .right-arrow:hover {
    right: 95px;
}

/* Optional: Add some transition effect */
.slides-container {
    transition: transform 0.5s ease;
}


/* SESSÃO CONTATO */
#contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contato .contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    gap: 20px;
}

#contato .contato h2 {
    font-size: 80px;
    letter-spacing: 2px;
    white-space: nowrap;
}

#contato .contato .redesSociais {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#contato .contato .redesSociais .iconsSociais {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 2px solid var(--color-white);
    border-radius: 50%;
}

#contato .contato .redesSociais .iconsSociais .fab {
    font-size: 20px;
}

#contato .contato .redesSociais .iconsSociais:hover {
    transition: 0.3s;
    transform: translateY(-5px);
}

#contato .copyright {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 20%;
    gap: 10px;
    text-align: center;
}

#contato .copyright span {
    font-family: 'QanelasSoftUltraLight', sans-serif;
    opacity: 0.7;
}

#contato .logo {
    height: 90px;
}

#contato .logo img {
    height: 100%;
    width: 100%;
}

/* Garante que as imagens sejam responsivas */
img {
    max-width: 100%;
    height: auto;
}

/* Corrige aspectos de imagens de fundo para responsividade */
#sobre {
    background-size: cover;
    background-position: center;
}

@keyframes shakeRotate {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    75% {
        transform: translateY(-5px);
    }
}

#whatsapp-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
    border-radius: 50%;
    border: 3px solid white;
}

#whatsapp-button i.fab {
    font-size: 50px;
    transition: transform 0.3s ease;
}

#whatsapp-button:hover i.fab,
#whatsapp-button:hover {
    transition: 0.3s;
    border-color: var(--color-wpp);
    background-color: var(--color-wpp);
    animation: shakeRotate 0.9s ease-in-out;
}

#whatsapp-button:hover {
    animation: shake 0.5s ease-in-out;
}







@media (max-width: 1500px) {
    /* SESSAO CASES */

    #cases .collum-main .cases h2 {
        font-size: 25px;
    }

    #cases .collum-main .imgCases {
        width: 90px;
        height: 90px;
    }

    #cases .collum-desc {
        gap: 20%;
    }

    #cases .collum-desc ul li {
        font-size: 14px;
    }

    #casesCards .gridCases {
        padding: 0 8%;
    }

    #casesCards .gridCases .logoCase {
        width: 200px;
        height: 250px;
    }

    /* SESSÂO CLIENTES */
    #clientes .gridClientes {
        padding: 0 7%;
    }

    /* SESSÃO INSIGHTS */
    #insights h2 {
        font-size: 50px;
    }

    #insights .insights .dados .numero {
        font-size: 50px;
    }

    #insights .insights .dados .titulo {
        font-size: 35px;
    }

    #clientes h2 {
        font-size: 50px;
    }

    /* SESSÃO FEEDBACKS */

    #feedbacks h2 {
        font-size: 50px;
    }

    #feedbacks .slide-arrow {
        font-size: 50px;
    }

    /* SESSAO CONTATO */
    #contato .contato h2 {
        font-size: 50px;
    }
}

@media (max-width: 1300px) {
    /* SESSAO CASES */

    #cases .collum-main .cases h2 {
        font-size: 25px;
    }

    #cases .collum-main .imgCases {
        width: 90px;
        height: 90px;
    }

    #cases .collum-desc {
        gap: 20%;
    }

    #cases .collum-desc ul li {
        font-size: 14px;
    }

    #casesCards .gridCases {
        padding: 0 6%;
    }

    #casesCards .gridCases .logoCase {
        width: 175px;
        height: 225px;
    }

    #casesCards .gridCases .logoCase h3,
    #casesCards .gridCases .logoCase p {
        font-size: 10px;
    }

    /* SESSÂO CLIENTES */
    #clientes .gridClientes {
        padding: 0 12%;
    }

    #clientes h2 {
        font-size: 50px;
    }

    #clientes .gridClientes .logoCliente {
        width: 130px;
        height: 130px;
    }

    /* SESSÃO INSIGHTS */
    #insights h2 {
        font-size: 50px;
    }

    #insights .insights .dados .numero {
        font-size: 40px;
    }

    #insights .insights .dados .expo {
        font-size: 32px !important;
    }

    #insights .insights .dados .titulo {
        font-size: 28px;
    }



    /* SESSÃO FEEDBACKS */

    #feedbacks h2 {
        font-size: 50px;
    }

    #feedbacks .slider {
        height: 320px;
    }

    #feedbacks .slider .slides-container .slide .imgFeedback {
        width: 120px;
        height: 120px;

        #feedbacks .slide-arrow {
            font-size: 50px;
        }

        /* SESSAO CONTATO */
        #contato .contato h2 {
            font-size: 50px;
        }
    }
}

@media (max-width: 1111px) {
    #cases {
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 5% 5%;
        height: fit-content;
    }

    #cases .casesMobile {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #cases .casesMobile .case {
        padding: 0 0 5% 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #cases .casesMobile .case img {
        width: 120px;
        height: 120px;
        object-fit: contain;
        filter: grayscale(100) brightness(1000);
    }

    #cases .casesMobile .case h2 {
        margin: 5px 0 30px 0;
    }

    #cases .collum-desc,
    #cases .collum-main,
    .divisor {
        display: none;
    }

    #casesCards {
        padding: 0px;
        height: fit-content;
    }

    #casesCards .gridCases {
        padding: 0 0;
    }

    #clientes {
        height: fit-content;
        margin: 10% 0;
    }

    #clientes .gridClientes {
        padding: 0;
    }

    html,
    body {
        scroll-snap-type: none !important;
    }

    section {
        scroll-snap-align: none !important;
    }

    #insights {
        margin-top: 100px;
        gap: 100px;
    }

    #insights .insights {
        flex-direction: column;
        gap: 50px;
    }

    #clientes {
        margin-top: 100px;
    }
}

@media (max-width: 700px) {
    section {
        padding: 0 15px;
    }

    #solucoes h1 {
        font-size: 22px;
        margin-bottom: 50px;
    }

    #solucoes p {
        font-size: 16px;
    }

    #feedbacks .slider .slides-container .slide .slide-text h2 {
        font-size: 12px;
    }

    #contato .contato h2 {
        font-size: 40px;
    }
    #contato .copyright span {
        font-size: 12px;
    }

    #whatsapp-button {
        width: 50px;
        height: 50px;
        border: 2px solid;
    }

    #whatsapp-button i.fab {
        font-size: 30px;
    }
    #feedbacks .slider .slides-container .slide .imgFeedback {
        width: 90px;
        height: 90px;
    }
    #feedbacks .right-arrow {
        right: 50px;
    }
    #feedbacks .left-arrow {
        left: 50px;
    }
}

@media (max-width: 500px) {
    #feedbacks .slider .slides-container .slide .slide-text h2 {
        font-size: 10px;
    }

    #contato .contato h2 {
        font-size: 30px;
    }

    #cases .casesMobile .case ul li {
        font-size: 12px;
    }
    #casesCards .gridCases .logoCase {
        width: 150px;
        height: 200px;
    }
    #feedbacks .right-arrow {
        right: 20px;
    }
    #feedbacks .left-arrow {
        left: 20px;
    }
}